.qi-button{
    color: var(--interactive-normal);
}

.qi-modal-custom-size{
    /*height: 640px;*/
    min-height: 0;
    max-height: 1000px;
    max-width: 1200px;
    width: 1200px;
}

.qi-navigation-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.qi-navigation-bar h3{
    margin-bottom: 0;
    margin-left: 20px;
}

.qi-space{
    margin-left: auto;
}

.qi-message-textbox{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.qi-grid{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(190px, 1fr) );
    grid-gap: 7px;
    height: 500px;
}

.qi-item{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qi-image-item{
    width: 220px;
    height: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

.qi-image-img{
    width: 90%;
    margin: 0;
    margin-left: 5%;
    border-radius:10px;
    transition: width .1s, margin-left .1s;
}

.qi-image-item:hover .qi-image-img{
    width: 100%;
    margin-left: 0;
}

.qi-item-name{
    /* color: #fff; */
}